<%= form_for Post.new do |f| %>
  <div class="form-group">
    <h4>Update Status</h4>
    <div id="post-content" contenteditable="true" class="editable form-control input-mentionable" placeholder="What's up?"></div>
    <%= f.hidden_field :content, class: 'form-control input-mentionable', autofocus: true %>
  </div>
  <%= f.submit 'Post', class: 'btn btn-primary'%>
<% end %>
